<table class="container">
    <tbody><tr>
      <td>

        <table class="row">
          <tbody><tr>
            <td class="wrapper last">

              <table class="twelve columns">
                <tbody><tr>
                  <td>
                    <h1>Hi, {{ name }}</h1>
                    <p class="lead">Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae.</p>
                    <p>Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. consequat vel lacus. Sed iaculis pulvinar ligula, ornare fringilla ante viverra et. In hac habitasse platea dictumst. Donec vel orci mi, eu congue justo. Integer eget odio est, eget malesuada lorem. Aenean sed tellus dui, vitae viverra risus. Nullam massa sapien, pulvinar eleifend fringilla id, convallis eget nisi. Mauris a sagittis dui. Pellentesque non lacinia mi. Fusce sit amet libero sit amet erat venenatis sollicitudin vitae vel eros. Cras nunc sapien, interdum sit amet porttitor ut, congue quis urna.</p>
                  </td>
                  <tr>
                    <td>
                      {{ video(580, 300, 'http://www.w3schools.com/html/mov_bbb', 'http://www.position-absolute.com', 'http://www.emailonacid.com/images/blog_images/Emailology/2013/html5_video/backup_bunny2.jpg', 'video-big') }}
                    </td>
                  </tr>
                  <td class="expander"></td>
                </tr>
              </tbody></table>

            </td>
          </tr>
        </tbody></table>

        <table class="row callout">
          <tbody><tr>
            <td class="wrapper last">

              <table class="twelve columns">
                <tbody><tr>
                  <td class="panel">
                    <p>Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. <a href="#">Click it! »</a></p>
                  </td>
                  <td class="expander"></td>
                </tr>
              </tbody>
              </table>

            </td>
          </tr>
        </tbody></table>

      {% block content %} {% include "/templates/sidebar_hero/_footer.html" %} {% endblock %}
      <!-- container end below -->
      </td>
    </tr>
  </tbody>
</table>