{% extends "/html-components/base.html" %}
  {% block main_css %}<link href="../../../css/main.css" media="all" rel="stylesheet" type="text/css" />{% endblock %}
  {% block theme_css %}<link href="../../../css/sidebarhero/sidebarhero.css" media="all" rel="stylesheet" type="text/css" />{% endblock %}

  {% block responsive_css %}<link href="../../../css/responsive.css" media="all" data-ignore="ignore" rel="stylesheet" type="text/css" />{% endblock %}
  
  {% block meta_title %}Sidebar Hero{% endblock %}

{% block mainContent %}

	{% block header %} {% include "/templates/sidebar_hero/_header.html" %} {% endblock %}
	{% block content %} {% include "/templates/sidebar_hero/_content.html" %} {% endblock %}

{% endblock %}