{% extends "transactional/_base-messages.html" %}
 {% block meta_title %}Receipt{% endblock %}
 {% block tableClass %}{% endblock %}

{% block content %} 
	<table class="main invoice-template" width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td class="content-wrap aligncenter">
				<table width="100%" cellpadding="0" cellspacing="0">
		
				<h4 class="center-text">{{'{{ total }}'}} {{ 'invoice_paid' | trans }}</h1>

				<h5 class="center-text">{{ 'invoice_welcome' | trans }}</h2>

				<table class="invoice" width="100%" >
					<tr>
						<td>{{'{{ invoice_client_name }}'}}<br>{{ 'invoice_invoice' | trans }} #{{'{{ invoice_number }}'}}<br>{{'{{ invoice_date }}'}}</td>
					</tr>
					<tr>
						<td>
							<table class="invoice-items" cellpadding="0" cellspacing="0" width="100%" >
							    {{ '{% for item in items %}' }}
									<tr>
										<td>{{'{{ item.name }}'}}</td>
										<td class="alignright">${{'{{ item.price }}'}}</td>
									</tr>			                   
			                    {{ '{% endfor %}' }}
								<tr class="total">
									<td class="alignright" width="80%">{{ 'invoice_total' | trans }}</td>
									<td class="alignright">{{'{{ total }}'}}</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
{% endblock %}
