<table class="container">
    <tr>
      <td>

        {% block header %} {% include "/templates/sunday/_header.html" %} {% endblock %}

        <table class="row account-information">
          <tr>
            <td class="wrapper">

              <table class="six columns">
                <tr>
                  <td class="left-text-pad steps">

                    <p>1. Account Activation Complete</p>
                    <p>2. Update Account Info</p>
                    <p>3. Account set up complete!</p>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
            <td class="wrapper last">
              <table class="six columns">
                <tr>
                  <td class="left-text-pad">

                    <h4>two last step and you're done!</h4>

                    <p>We need you to update your account information. If there is ever a problem with your account, this information will make it easier for you to log back in.</p>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

        <table class="row update-button-ctn">
          <tr>
            <td class="wrapper last">
              <table class="twelve columns">
                <tr>
                  <td align="center">
                    {{ button('Update Account', '#', 'orange-button button-update', 'center') }}
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

        {% block footer %} {% include "/templates/sunday/_footer.html" %} {% endblock %}

    </td>
  </tr>
</table>    