<table class="row footer">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td align="left" class="footer-content">
            
            This message was sent by Acme
            <table width="150" style="width:150px;">
              <tr><td class="footer-logo-container"><img class="footer-logo" width="150" src="https://www.filepicker.io/api/file/HotdLrI8SCq4ZW3NRAUh"><td width="150" style="width:150px;" class="" ></td></tr>
            </table>
            &copy;2015 Acme inc.
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>