<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{% block meta_title %}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  {% block main_css %}<link href="/css/main.css" media="all" rel="stylesheet" type="text/css" />{% endblock %}
  {% block responsive_css %}<link href="/css/responsive.css" media="all" data-ignore="ignore" rel="stylesheet" type="text/css" />{% endblock %}
  {% block theme_css %}{% endblock %}
  {% from "components/_component.button.html" import button %}
  {% from "components/_component.caption.html" import caption %}
  {% from "components/_component.progressbar.html" import progressbar %}
  {% from "components/_component.video.html" import video %}
  {% from "components/_component.panel.html" import panel %}
  {% from "components/_component.alertHeader.html" import alertHeader %}
  
  <!-- JSONLD -->
  {% from "components/jsonld/actions/_component.jsonld.goto.html" import jsonldGoto %}
  {% from "components/jsonld/actions/_component.jsonld.one-click-action.html" import jsonldOneClick %}
  {% from "components/jsonld/actions/_component.jsonld.review.html" import jsonldReview %}
  {% from "components/jsonld/actions/_component.jsonld.rsvp.html" import jsonldRSVP %}
  {% from "components/jsonld/promotions/_component.jsonld.offer.html" import jsonldOffer %}
</head>
<body>
  {% block jsonLD %}{% endblock %}
  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center>

          {% block mainContent %}{% endblock %}

        </center>
      </td>
    </tr>
  </table>
</body>
</html>