.account-information{
	background:#ffffff;
	padding:30px 0;
	p{
		color:#6f6f6f;
	}

	.steps{
		padding-top:10px;
		p{
			color: #f3a389;
			font-size:20px;
			text-align: left;
			padding-top: 10px;
		}
	}
}
.update-button-ctn{
	background:#ffffff;
	td{padding:30px 0px;}
	.button-update{
		width:50%;
		td a {font-size:18px;}
	}
}