<table class="row header">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tbody><tr>
          <td align="center" class="logo">
            <a href="#"><img width="311" height="83" align="center" src="https://www.filepicker.io/api/file/HotdLrI8SCq4ZW3NRAUh" alt="company logo" ></a>
          </td>
          <tr>
            <td style="background-color:#3bcdb0;" bgcolor="#3bcdb0" align="center" class="content">
              <h2>You're almost finished!</h2>
              <h3>Two out of three steps are completed.</h3>
            </td>
          </tr>
          <tr>
          <td align="center" class="content">
            <a href="#"><img src="https://www.filepicker.io/api/file/4BgENLefRVCrgMGTAENj" style="max-width:100%;"></a>
          </td>
          <tr>
          <td class="expander"></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
</table>