<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{% block meta_title %}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  {% block main_css %}<link href="/css/main.css" media="all" rel="stylesheet" type="text/css" />{% endblock %}
  {% block responsive_css %}<link href="/css/responsive.css" media="all" data-ignore="ignore" rel="stylesheet" type="text/css" />{% endblock %}
  {% block theme_css %}{% endblock %}
  {% from "/html-components/component.button.html" import button %}
  {% from "/html-components/component.caption.html" import caption %}
  {% from "/html-components/component.progressbar.html" import progressbar %}
  {% from "/html-components/component.video.html" import video %}
  {% from "/html-components/component.panel.html" import panel %}

</head>
<body>
  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center>

          {% block mainContent %}{% endblock %}

        </center>
      </td>
    </tr>
  </table>
</body>
</html>